<div data-role="header" data-position="fixed" data-theme="b">
  <h1>Der Einkaufer</h1>
<!--  <a href="/signout" data-icon="gear" data-transition data-rel="dialog">Sign out</a> -->
  <div data-role="navbar" data-iconpos="left">
    <ul>
      <li><a href="/" data-icon="home" data-ajax="false">Home</a></li>
      <li><a href="/items/new" data-icon="plus" data-transition="slide">Add Item</a></li>

    </ul>
  </div>
</div>
