<div data-role="header" data-position="fixed" data-theme="b">
  <h1>Der Einkaufer</h1>
  <div data-role="navbar" data-iconpos="left">
    <ul>

      <li><a href="/" data-icon="home">Home</a></li>
      <li><a href="/items/new" data-icon="plus">Add Item</a></li>
      <li><a href="/#" data-icon="gear">Logout</a></li>
    </ul>
  </div>
</div>
